.js
  if env.NODE_ENV == "development"
    script console.log('=====================\nCURRENTLY IN DEV MODE\n=====================\n')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn', crossorigin='anonymous')
  script(src="/javascripts/vide.js")
  if title == "Music"
    script(src="/javascripts/jplayer.js")
    script(src="/javascripts/router.js")
    script(src="/javascripts/app.js")
