
.jp-audio *:focus, .jp-audio-stream *:focus, .jp-video *:focus
  /* Disable the browser focus highlighting.
  outline: none

.jp-audio button::-moz-focus-inner, .jp-audio-stream button::-moz-focus-inner, .jp-video button::-moz-focus-inner
  /* Disable the browser CSS3 focus highlighting.
  border: 0

.jp-audio
  font-size: 16px
  height: 6rem
  width: 100%
  position: fixed
  z-index: 1000
  bottom: 0
  left: 0
  box-shadow: 0 0 8px rgba(0,0,0,.4)
  background: white
  &.disabled
    .info, .volume, .jp-time-holder
      visibility: hidden
    .controls
      opacity: 0.3
      pointer-events: none

.jp-audio-stream
  width: 182px

.jp-interface
  position: relative
  width: 100%
  height: 100%


.jp-video .jp-interface
  border-top: 1px solid #009be3

/* @group CONTROLS

/* @group current time and duration

.jp-audio .jp-time-holder
  position: absolute
  top: 0.5rem
  width: 100%

.jp-current-time, .jp-duration
  width: 5rem
  font-size: .6rem

.jp-current-time
  float: left
  display: inline
  cursor: default
  margin-left: 6.25rem

.jp-duration
  float: right
  display: inline
  text-align: right
  cursor: pointer
  margin-right: .25rem
@include breakpoint('xs')
  .jp-current-time
    margin-left: .25rem
/* @end

.jp-lower
  background-color: white
  .row
    height: 100%
    text-align: center
  .info
    text-align: left
    padding-left: 0
    padding-right: 0
  .image
    display: inline-block
    img
      height: 6rem
  .wrapper
    display: inline-block
    margin: 0 0 .5rem .5rem
    vertical-align: middle
    max-width: 55%
  .jp-title
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    height: 1.5rem
    font-weight: 500
  .jp-artist
    display: inline-block
    font-size: .8rem
  .jp-album
    display: inline-block
    font-size: .8rem
  .controls
    margin: 0 0 .25rem 0
    padding: 0
  .jp-next
    margin: 0
    float: none
    display: inline-block
    vertical-align: middle
    &:before
      font-size: 2rem
      cursor: pointer
  .jp-play
    display: inline-block
    vertical-align: middle
    margin: 0 4rem 0 4rem 0
    width: 30px
    &:before
      font-size: 3rem
      cursor: pointer
  .jp-previous
    margin: 0
    float: none
    display: inline-block
    vertical-align: middle
    &:before
      font-size: 2rem
      cursor: pointer
  .volume
@include breakpoint('xs')
  .jp-lower
    .jp-artist, .jp-album, .dash, .jp-title, .image, .volume
      display: none
    .jp-play
      margin: 0 1rem 0 1rem 0
    .jp-previous
      float: left
      margin-top: 8px
    .jp-next
      float: right
      margin-top: 8px
/* @end
/* @group progress bar

.jp-progress
  overflow: hidden
  height: 0.5rem
  width: 100%

.jp-seek-bar
  width: 0px
  height: 100%
  cursor: pointer
  background-image: linear-gradient(120deg, rgba(#84fab0, 0.2) 0%, rgba(#8fd3f4, 0.2) 100%)


.jp-play-bar
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%)
  border-radius: 3px
  width: 0px
  height: 100%

/* The seeking class is added/removed inside jPlayer

.jp-seeking-bg
  background: white

/* @end
/* @group volume controls

.jp-volume-controls
  display: flex
  justify-content: flex-end
  align-items: center
  margin: 0 0 .25rem

.jp-mute
  font-size: 2rem
  padding-right: 1rem

.jp-volume-max
  font-size: 2rem
  padding-left: 1rem
  margin-right: 2rem

.jp-state-no-volume .jp-volume-controls
  display: none

.jp-volume-bar
  overflow: hidden
  background-image: linear-gradient(120deg, rgba(#84fab0, 0.2) 0%, rgba(#8fd3f4, 0.2) 100%)
  border-radius: 3px
  width: 10rem
  height: 0.25rem
  cursor: pointer

.jp-volume-bar-value
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%)
  border-radius: 3px
  width: 0px
  height: 0.25rem
/* @end

.jp-jplayer
  audio
    width: 0px
    height: 0px
  width: 0px
  height: 0px
  background-color: #000000

/* @group TOGGLES
/* The audio toggles are nested inside jp-time-holder

.jp-toggles
  padding: 0
  margin: 0 auto
  overflow: hidden

.jp-audio
  .jp-type-single .jp-toggles
    width: 25px
  .jp-type-playlist .jp-toggles
    width: 55px
    margin: 0
    position: absolute
    left: 325px
    top: 50px

.jp-toggles button
  display: block
  float: left
  width: 25px
  height: 18px
  text-indent: -9999px
  line-height: 100%
  /* need this for IE6
  border: none
  cursor: pointer

.jp-repeat
  background: url("../image/jplayer.blue.monday.jpg") 0 -290px no-repeat
  &:focus
    background: url("../image/jplayer.blue.monday.jpg") -30px -290px no-repeat

.jp-state-looped .jp-repeat
  background: url("../image/jplayer.blue.monday.jpg") -60px -290px no-repeat
  &:focus
    background: url("../image/jplayer.blue.monday.jpg") -90px -290px no-repeat

.jp-shuffle
  background: url("../image/jplayer.blue.monday.jpg") 0 -270px no-repeat
  margin-left: 5px
  &:focus
    background: url("../image/jplayer.blue.monday.jpg") -30px -270px no-repeat

.jp-state-shuffled .jp-shuffle
  background: url("../image/jplayer.blue.monday.jpg") -60px -270px no-repeat
  &:focus
    background: url("../image/jplayer.blue.monday.jpg") -90px -270px no-repeat

/* @end
/* @group NO SOLUTION error feedback

.jp-no-solution
  padding: 5px
  font-size: .8em
  border: 2px solid #009be3
  color: #000
  display: none
  a
    color: #000
  span
    font-size: 1em
    display: block
    text-align: center
    font-weight: bold

/* @end
