extends music-layout

block header
  header
    div(class='container h-100')
      div(class='row align-items-center text-center h-100')
        div.wrapper
          i.ion-person-stalker
          h1 Artists
  
block player-body
  section(class='player-body artists')
    .container
      .wrapper
        .row
          each artist in data
            .col-12.align-self-start(style='background-image:url("/static-music/'+artist+'/cover_compressed.jpg")')
              img.img-fluid(src='/static-music/'+artist+'/profile.jpg' data-artist= artist)
              .artist-info
                h3(data-artist= artist)= artist
                ul
                  li
                    i.fa.fa-soundcloud
                  li
                    i.fa.fa-bandcamp
              button.listen.ion-play(data-artist= artist)
  section(class='player-spacer')
